.clientsSection {
  width: 100%;
  height: auto;
  background-color: var(--wp--preset--color--clients-section);
  padding: 3.75rem 1.48rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.438rem;
  position: relative;
  z-index: -1;
}

.clientsSectionInner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.clientsSectionInner img {
  width: 8.125rem;
  height: 2.5rem;
  opacity: 0.2;
}
