.siteHeader {
  width: 100%;
  height: 4.75rem;
  background-color: var(--wp--preset--color--white);
  box-shadow: 0 5px 30px 0 rgba(44, 62, 80, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
}

.headerOpen {
  height: 23.75rem;
}

.logo {
  width: 100%;
  height: 4.75rem;
  background-color: var(--wp--preset--color--white);
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.logo img {
  width: 8.75rem;
  height: auto;
  padding: 1.25rem 0;
  margin: 0 5% 0;
}

.navContainer {
  width: 100%;
  height: 4.75rem;
  position: absolute;
  top: 0;
  left: 0;
}

.navMenu {
  width: 100%;
  height: auto;
  line-height: 1.25rem;
  padding: 1.25rem 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in;
  position: relative;
  top: 4.75rem;
  z-index: -999;
}

.navOpen {
  transform: translateY(0);
  opacity: 1;
}

.menuItem {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0.75rem 0;
  transition: all 0.2s ease-in;
}

.menuItem:hover {
  color: var(--wp-preset-color-luminous-vivid-dark-orange);
}

.menuItem:last-child {
  width: 7.75rem;
  color: var(--wp-preset-color-luminous-vivid-dark-orange);
  border: 2px solid var(--wp-preset-color-luminous-vivid-dark-orange);
  border-radius: 2.6rem;
  margin: 1.125rem auto;
}

.menuItem:last-child:hover {
  background-color: var(--wp-preset-color-luminous-vivid-dark-orange);
  color: var(--wp--preset--color--white);
}

.menuToggle {
  width: 1.4rem;
  height: 1.3rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.9rem;
  right: 5%;
  z-index: 999;
}

.toggleLine {
  display: block;
  width: 1.41875rem;
  height: 4px;
  background-color: var(--wp--preset--color--dark-gray);
  margin: 0.2rem 0;
  border-radius: 5px;
}

.menuToggle::after,
.menuToggle::before {
  content: "";
  display: block;
  width: 1.41875rem;
  height: 4px;
  background-color: var(--wp--preset--color--dark-gray);
  border-radius: 5px;
}

.menuToggle:focus::after,
.menuToggle:focus::before,
.menuToggle:focus span {
  background-color: var(--wp-preset-color-luminous-vivid-dark-orange);
}
