.siteHeader {
  background-color: (--wp--preset--color--white);
  width: 100%;
  height: 4.75rem;
  box-shadow: 0 5px 30px 0 rgba(44, 62, 80, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.wrap {
  padding: 0 5%;
}

.titleArea {
  width: 100%;
  max-width: 8.75rem;
  float: left;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.titleArea img {
  width: 100%;
  height: auto;
}

.navPrimary {
  width: 100%;
  height: 15.25rem;
  background-color: var(--wp--preset--color--white);
}

.navMenu {
  width: 100%;
  height: auto;
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--dark-gray);
  line-height: 1.25rem;
  position: relative;
  top: 0;
  z-index: 999;
  float: right;
  padding: 1.25rem 0;
}

.menuItem {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0.75rem 0;
}

.menuItem:last-child {
  width: 7.75rem;
  color: var(--wp-preset-color-luminous-vivid-dark-orange);
  border: 2px solid var(--wp-preset-color-luminous-vivid-dark-orange);
  border-radius: 2.6rem;
  margin: 1.125rem auto;
}
