/*
====================
Fonts
====================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/*
====================
Styles
====================
*/

:root {
  --wp--preset--color--black: #000000;
  --wp--preset--color--dark-gray: #667380;
  --wp--preset--color--dark-gray-hover: #2e3d4d;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--clients-section: #f6f8fa;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp-preset-color-luminous-vivid-dark-orange: #ff4a00;
  --wp-preset-color-luminous-vivid-dark-orange-hover: #e53900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--box-section-text: rgba(44, 62, 80, 0.6);
  --wp--preset--gradient--hero-section: linear-gradient(
    -45deg,
    #5433ff,
    #20bdff,
    #a5fecb
  );
}

/*
====================
Global
====================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--wp--preset--color--very-dark-gray);
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #2e3d4d;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
